@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, a, p {
    font-family: Verdana;
}

h1 {
    font-size: 3rem /* 48px */;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    line-height: 1;
}

h4 {
    font-size: 1.5rem
}

p.alert-p-content {
    font-size: 0.8rem;
}

p, a {
    font-size: 1rem;
}

td, tr {
    padding: 2%;
}

tr {
    border-bottom: 1px black solid;
}


/* Base Rect styles */

rect {
    opacity: 0.8;
    transition: 0.3s;
}

rect:hover {
    opacity: 1;
}

/* Base path styles */

path {
    opacity: 0.8;
    transition: 0.3s;
}

path:hover {
    opacity: 1;
}


/* Tooltip styles */

.toolTipBackground {
    background-color: #36454F;
    border-radius: 10px;
    padding: 5%;
}

.toolTipTitle {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.toolTipText {
    color: white;
    text-align: left;
    margin-left: 5%;
    font-size: 1rem;
}

.tipSingleValue {
    text-align: center;
    color: white;
    font-size: 1rem;
}

